/* commom style */
.container {
    max-width: 980px;
    margin: 0 auto;
}

/* index style */
.page-warp {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.page-warp img {
    max-width: 100%;
}
.main-page {
    flex: 1;
}